:root{
    --dark-color: rgba(0, 0, 0, 0.5);
    --medium-color:rgba(139, 109, 109, 0.459);
    --light-color:rgba(110, 91, 91, 0.116);
    --text-color: rgb(255, 255, 255);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Archivo Narrow', sans-serif;
    padding: 2rem;
}

.header{
    height: 90vh;
    background-image: linear-gradient(to bottom right, var(--dark-color), var(--light-color)), 
    url('../image/tohm-foog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: var(--text-color);
}

.text-box{
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);   
}


.heading-primary{
    text-transform: uppercase;
}

.heading-primary-main{
    display: block;
    font-size: 7rem;
    letter-spacing: 1.25;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    0%{transform: translateX(-150px);opacity: 0;}
    80%{transform: translateX(25px);}
    100%{transform: translateX(0);opacity: 1;}
}

.heading-primary-sub{
    display: block;
    font-size: 3rem;
    letter-spacing: .6rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight{
    0%{transform: translateX(100px);opacity: 0;}
    80%{transform: translateX(-20px);}
    100%{transform: translateX(0);opacity: 1;}
}

.hrefGit{
    display: block;
    font-size: 2rem;
    opacity: 0;
    text-decoration: none;
    color: rgb(218, 171, 17);
    animation-name: Git;
    animation-duration: 20s; 
}

@keyframes Git{
    100%{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}